.button {
    transition-duration: 0.4s;
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: var(--primary-color);
}

.size__m {
    width: 30%;
    height: 15%;
}
.size__l {
    width: 40%;
    height: 40%;
}
.size__m_modal {
    width: 80%;
    height: 10%;
}
.size__l_modal {
    width: 80%;
    height: 15%;
}