.size__m {
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    width: 30%;
    height: 15%;
}
.size__l {
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    width: 40%;
    height: 40%;
}
.size__m_modal {
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    width: 80%;
    height: 10%;
}
.size__l_modal {
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    width: 80%;
    height: 15%;
}
.size__m_generation {
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    width: 80%;
    height: 10%;
}
.size__l_generation {
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 10px;
    width: 80%;
    height: 15%;
}