.title__primary {
    font-size: 3vh;
    text-align: center;
    color: white;
    letter-spacing: 0.5rem;
}
.title__secondary {
    font-size: 2vh;
    text-align: center;
    color: white;
}
.common__text {
    font-size: 2vh;
    text-align: center;
    color: white;
}
.error__show {
    font-size: 2vh;
    text-align: center;
    color: red;
    transition-duration: 0.4s;
}
.error__hidden {
    font-size: 2vh;
    text-align: center;
    color: transparent;
    transition-duration: 0.4s;
}
.loading__show {
    font-size: 2vh;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    transition-duration: 0.4s;
    animation: loading-animation 2s ease-in 1s infinite alternate;
}
.loading__hidden {
    font-size: 2vh;
    text-align: center;
    transition-duration: 0.4s;
    color: transparent;
}

.link {
    text-decoration: none;
    color: white;
    font-size: 2vh;
    border-bottom: 2px solid transparent;
    padding: 5px;
    transition-duration: 0.4s;
}
.link:hover {
    border-bottom: 2px solid white;
}
.link:visited {
    color: white;
}

@keyframes loading-animation {
    from {
        color: rgba(255, 255, 255, 1);
    } to {
        color: rgba(255, 255, 255, 0.5);
    }
}