.title__primary {
    font-size: 3vh;
    text-align: center;
    color: white;
    letter-spacing: 0.5rem;
}
.title__secondary {
    font-size: 2vh;
    text-align: center;
    color: white;
}
.common__text {
    font-size: 2vh;
    text-align: center;
    color: white;
}
.error__show {
    font-size: 2vh;
    text-align: center;
    color: red;
    transition-duration: 0.4s;
}
.error__hidden {
    font-size: 2vh;
    text-align: center;
    color: transparent;
    transition-duration: 0.4s;
}